.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.025rem;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  color: #313131;
  margin-bottom: 0.5rem;
  // word-break: break-word;
  // white-space: pre-wrap;
}

.h1,
h1 {
  font-size: clamp(5cqw, 8cqw, 15cqw); //1.5rem;
}

.h2,
h2 {
  margin-top: 1rem;
  font-size: clamp(7cqw, 8cqw, 9cqw); //1.25rem;
}

.h3,
h3 {
  margin-top: 1.5rem;
  font-size: clamp(5cqw, 6cqw, 7cqw); //1.1rem;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: clamp(3cqw, 4cqw, 5cqw); //1rem;
  font-size: clamp(4cqw, 4cqw, 5cqw); //1rem;
}
