//style for component file: "card.html"
.posts {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  width: 100%;
  grid-template-columns: auto 1fr 1fr;
}

.post-title {
  padding: 1rem 0;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.postshout {
  position: relative;
  width: 100cqw;
  z-index: 1;
  pointer-events: none;
  margin: $space;
  border: solid 2px black;
  padding: $space;
  color: black;
  background-color: $nice-color;

  .photography & {
    background-color: black;
    border-color: $trnsp-color2;
  }
}

.post_type {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  z-index: 1;
  padding: $space;
  width: calc(100% + 4px);
  min-width: 100px;
  bottom: -40px;
  font-size: 0.9rem;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  left: -2px;
  border: solid 2px black;
  white-space: nowrap;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.post {
  flex-basis: 420px;
  height: calc(100vw / 3);
  overflow: hidden;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  background-color: $nice-color;
  //border-bottom: 3px solid black;

  @include media('screen', '>minWidth') {
    // border-bottom: 0 none;
  }

  .photography & {
    background-color: $black;
  }

  .advertising &,
  .branding &,
  .specials &,
  .web-design & {
    background-color: $body-color;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .entry-feature-image {
    //img
    max-width: 100%;
    will-change: transform;
    transform: scale(2.1);
  }

  &:hover {
    background-color: white;
    z-index: 10;

    .photography & {
      background-color: $black;
    }

    .post-title {
      transition-delay: initial;
      transition-property: all;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      top: 0;
      z-index: 15;
      width: 100%;
      font-size: 2rem;
      background-color: white;

      .photography & {
        background-color: black;
      }
    }

    .postshout {
      margin: 1rem;
      border: solid 2px transparent;
      padding: 1rem;
      background-color: transparent;
    }

    .post_type {
      display: none;
    }

    .entry-feature-image {
      opacity: 1;
      filter: grayscale(0%);
      transition-delay: initial;
      transition-property: transform;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      transform: scale(1) translateY(-10px);
      @include media('screen', '>minWidth') {
        transform: scale(0.9) translateY(-30px);
      }
      @include media('screen', '>bp1Width') {
        transform: scale(0.75) translateY(-80px);
      }
      @include media('screen', '>maxWidth') {
        transform: scale(0.85) translateY(-25px);
      }

      &.square {
        transition-delay: initial;
        transition-property: transform;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transform: scale(1) translateY(-10px);
        @include media('screen', '>minWidth') {
          transform: scale(1) translateY(-90px);
        }
        @include media('screen', '>bp1Width') {
          transform: scale(1) translateY(-100px);
        }
        @include media('screen', '>maxWidth') {
          transform: scale(1) translateY(-75px);
        }
      }
    }
  }
}

.posthumb {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .black & {
    background-color: black;
  }

  .entry-feature-image {
    background-color: black;
    margin: auto;
    opacity: 1;
    filter: grayscale(100%);
    @include media('screen', '>minWidth') {
      opacity: 0.4;
    }
  }

  &.image_icons .entry-feature-image {
    background: transparent;
  }
}
