
//// social icons stuff
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;

  a {
    align-self: flex-start;
    flex-basis: auto;

    margin: 0;
    padding: 0 .2rem;
  }
}
