<div class="social-icons">


	{% if site.owner.twitter %}
	<a href="https://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank">
		{% include svg/use.html id="icn--twitter" class="twitter" %}
	</a>
	{% endif %}



	{% if site.owner.stackexchange %}
	<a href="{{ site.owner.stackexchange }}" title="{{ site.owner.name}} on StackExchange" target="_blank">
		{% include svg/use.html id="icn--stackexchange" class="stackexchange" %}
	</a>
	{% endif %}

	{% if site.owner.instagram %}
	<a href="https://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank">
		{% include svg/use.html id="icn--instagram" class="instagram" %}
	</a>
	{% endif %}

	{% if site.owner.github %}
	<a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">
		{% include svg/use.html id="icn--github" class="github" %}
	</a>
	{% endif %}


	{% if site.owner.facebook %}
	<a href="https://www.facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank">
		{% include svg/use.html id="icn--facebook" class="facebook" %}
	</a>
	{% endif %}

	{% if site.owner.linkedin %}
	<a href="https://www.linkedin.com/in/{{ site.owner.linkedin }}/" title="{{ site.owner.name}} on LinkedIn" target="_blank">
		{% include svg/use.html id="icn--linkedin" class="linkedin" %}
	</a>
	{% endif %}


	{% if site.owner.soundcloud %}
	<a href="https://soundcloud.com/{{ site.owner.soundcloud }}" title="{{ site.owner.name}} on Soundcloud" target="_blank">
		{% include svg/use.html id="icn--soundcloud" class="soundcloud" %}
	</a>
	{% endif %}

	{% if site.owner.email %}
	<a href="mailto:{{ site.owner.email }}" title="Best way to contact {{ site.owner.name}}! Quick old e-mail " target="_blank">
		{% include svg/use.html id="icn--email" class="email" %}
	</a>
	{% endif %}

</div>
