{%comment%}
used in index to display pagination list of posts
{%endcomment%}

<div class="wrap all_works {{ page.isindex }}">
  <div class="container content">

    <h1 class="masthead-title" data-sr='enter left move 1500px'>
      {{ site.title }}
      <span class="tagline" data-sr='wait 1s enter left move 3000px reset'>
        empowers your work.
      </span>
    </h1>

    <div class="posts">
      
      {% for post in paginator.posts %}

        {% include item-ball.html %}

      {% endfor %}

      {% include pagination.html %}

    </div>

  </div>
</div>
