<div class="post" data-sr=''>

  <a href="{{ post.url }}">

    <h1 class="post-title">
      <span class="postshout">{{ post.headline }}</span>
    </h1>

    <span class="posthumb">

    {%comment%}
    if index_image else first image
    {%endcomment%}

    <img src="{{ site.baseurl }}/images/{{ post.categories }}/{{ post.title }}/{% if post.index_image %}{{ post.index_image }}{% else %}{{ post.image.[0] }}{% endif %}" class="entry-feature-image {% if post.index_image %}square{% endif %}" alt="{{ post.title }}">

    </span>
  </a>

</div>
