
$color1: #303030;
$color2: #e5e5e5;
$color3: #f9f9f9;
$color4: #9a9a9a;
$color5: #f5f5f5;
$color6: #353535;
$color7: #202020;
$brightest-color: #fff;
$darkest-color: #161616;
$bang-color: $brightest-color;

$trnsp-color1: rgba(255,255,255,.1);
$trnsp-color2: rgba(255,255,255,.6);

$body-color: #fff;
$text-color: #222;
$base-color: #343434;
$comp-color: spin($base-color, 180);
$border-color: #ddd;
$white: #fff;
$black: #000;

$accent-color: $bang-color;
$link-color: #0096FF; //rgba(0, 150, 255, 0.75); lanyon//303030;

$table-border-color: $border-color;
$table-border: 1px solid $table-border-color;
$table-background: $body-color;
$table-header-color: lighten($table-background, 10);
$table-hover-color: darken($table-background, 2);
$table-stripe-color: darken($table-background, 4);
$table-stripe-color-hover: darken($table-stripe-color, 5);

$colorRGBa1: rgba(255, 255, 255, .5);

$border-radius: 5px;
$nice-color: gold;
$base-color: $colorRGBa1;
$htmlbg-color: black;
$blend-mode: normal; //screen;
$filter-opacity: 90%;

// TYPOGRAPHY
$base-font: 'Dosis', sans-serif;
$base-font-size: 20px;
$base-font-size-rel: 2.75vw;
$base-line-height: 1.5;

//all svg icons are square:
$icon_size: 50px;

$mediaMinWidth: 480px;
$mediaBp1Width: 960px;
$mediaMaxWidth: 1260px;

$max_width: 1260px;

// $ettings

@import "cmq", "responsive_titles", "base", "headings", "pagination", "sidebar", "social-icons", "post", "rok", "utils", "overrides", "svg", "links", "home", "about", "offwhite", "onlyoneimage", "image-grid", "fineartprints";
