<!-- Twitter Cards -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

{% if page.excerpt %}
	<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% else %}
	<meta name="twitter:description" content="{{ page.title }}">
{% endif %}

{% if site.owner.twitter %}
	<meta name="twitter:site" content="@{{ site.owner.twitter }}">
{% endif %}

{% if author.twitter %}
	<meta name="twitter:creator" content="@{{ author.twitter }}">
{% endif %}

{% if page.index_image %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.categories }}/{{ page.title }}/{{ page.index_image}}">
{% else %}
	{% if page.image.[0] %}
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.categories }}/{{ page.title }}/{{ page.image.[0]}}">
	{% else %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image:src" content="{{ site.url }}/images/{{ site.logo }}">
	{% endif %}
{% endif %}

<!-- Open Graph -->
	<meta property="og:locale" content="{{ site.locale }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

{% if page.index_image %}
	<meta property="og:image" content="{{ site.url }}/images/{{ page.categories }}/{{ page.title }}/{{ page.index_image }}">
{% else %}
	{% if page.image.[0] %}
		<meta property="og:image" content="{{ site.url }}/images/{{ page.categories }}/{{ page.title }}/{{ page.image.[0] }}">
	{% else %}
	<meta property="og:image" content="{{ site.url }}/images/{{ site.logo }}">
	{% endif %}
{% endif %}

{% if page.excerpt %}
	<meta property="og:description" content="{{ page.excerpt | strip_html }}">
{% endif %}

	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">

	<meta property="og:site_name" content="{{ site.title }}">
