/*style-adjust */
body {color:#777; background-color: rgb(0,0,0);}
.flex-direction-nav a { background:url(/img/bg_direction_nav.png) no-repeat 0 0; }

@media (max-width: 29.999em)  {/*before 480px - flexnav dots arrange themselves in 3 lines*/
iframe.sml {display: block; visibility: visible; margin: 0 0 0 auto;}
iframe.med { display: none; visibility: hidden;}
iframe.lrg { display: none; visibility: hidden;}
}

@media (min-width: 30em)  {/* 480px ÷ 16 - iPhone landscape*/
iframe.sml { display: none; visibility: hidden;}
iframe.med  {display: block; visibility: visible; margin: 0 0 0 auto;}
iframe.lrg { display: none; visibility: hidden;}
}

@media (min-width: 64em) {/*1024px ÷ 16  past this point there are 2 columns so no space needed anymore*/
iframe.sml { display: none; visibility: hidden;}
iframe.med { display: none; visibility: hidden;} 
iframe.lrg {display: block; visibility: visible; margin: 0 0 0 auto;}
}