//// ABOUT template

.about {
  * > {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  background-color: transparent;

  .masthead {
    display: none;
  }

  // different color and :hover color for different locations..
  .wrap a {
    .fa {
      color: $link-color;
      cursor: pointer;
    }

    &:hover .fa {
      color: white;
    }
  }

  //background sun shot fixed for home (old - not ujsed anymore)
  .image-wrap {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -100;
    transform: translateZ(0);

    background-color: $body-color;

    img {
      background-color: $body-color;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;

      image-rendering: optimizeQuality; // Gecko, moz // IE         // Firefox         // Opera// Webkit (non-standard naming)
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
      // IE (non-standard property)
    }
  }

  .bgimage {
    position: fixed;
    top: -5vh; //compensate container margin
    width: 105%;
    height: 105%;
    z-index: -100;
    background-color: $body-color;

    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }




  .page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .page-block {
    position: relative;
    width: 70%;
    max-width: 500px;
    align-self: center;
    padding: 1rem;
    text-align: justify;
    background-color: white;
    margin-bottom: 2rem;

    &.quote {
      margin-bottom: 10rem;
    }
  }

  .left_triangle:before {
    content: "";
    position: absolute;
    top: calc(50% - 50px);
    left: -2.5rem;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid white;
    border-bottom: 50px solid transparent;
  }

  .right_triangle:before {
    content: "";
    position: absolute;
    top: calc(50% - 50px);
    right: -2.5rem;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid white;
    border-bottom: 50px solid transparent;
  }

  .page-title {
    //h1
    color: white;
    width: 100%;
    min-height: 90vh;
    line-height: 80vh;
    text-align: center;
  }

  .title {
    text-align: left;
    margin-top: 0;
  }

  .cite {
    color: white;
    position: absolute;
    bottom: -3rem;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.last {
  border: 0 none;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding-top: 20rem;
  background-size: cover;
  background-attachment: fixed;
  background: transparent; //Fallback for operaMini
  background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 30%, rgba(0,0,0,.2) 60%, rgba(0,0,0,.35) 80%, rgba(0,0,0,.5) 90%, rgba(0,0,0,.6));
  background-blend-mode: luminosity;

  .social-block {
    width: 100%;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include media("screen", ">minWidth") {
      height: auto;
      display: block;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .title {
      text-align: center;
      line-height: 5;
      margin-top: 0;
      width: auto;
      color: white;
    }
  }
}

// checkbox:checked case hide the shot
.about {
  #sidebar-checkbox:checked ~ .wrap {
    body & {
      background-color: white;
    }

    img {
      display: none;
    }

    .last {
      display: none;
    }

    .cite {
      color: black;
      position: relative;
      top: 0.5rem;
    }

    .page-block {
      text-align: left;
    }

    .page {
      .page-title {
        min-height: 0;
        height: 0;
      }
    }
  }
}
