* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $color6;
  overflow-x: hidden!important;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  font-family: $base-font;
}

body {
  background-color: $body-color;
  overflow-x: hidden!important;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

//// Body text

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid $brightest-color;
}

abbr {
  font-size: 85%;
  font-weight: 400;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $color2;
}
//// Quotes
blockquote {
  padding: 0;
  margin: 0;
  color: $color7;
  border-left: .25rem solid $color7;

  .black & {
    color: $color2;
    border-left: .25rem solid $color2;
  }

  p:last-child {
    margin-bottom: 0;
  }
  max-width: 400px;
  margin: 50px 0 50px 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.entry-quotes {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-transform: none;
  }

  blockquote {
    max-width: none;
  }
}
//// All images... hum!
img {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
  border-radius: $border-radius;
}
//// Tables
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid $color2;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid $color2;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $color3;
}

em {
  font-style: normal;
  font-weight: 200;
}

strong em {
  font-style: normal;
  font-weight: 200;
  font-size: 2rem;
  padding-right: .5rem;
}

button strong em {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: $base-font;
}
//// Custom type
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 125%;
  font-weight: 200;
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: $color3;
}

.page-title,
.post-title,
.post-title a {
  color: $color1;
  position: relative;
}

.page-title,
.post-title {
  margin-top: 0;
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: $color4;
}

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li small {
    font-size: 75%;
    color: #999;
  }

  li a:hover {
    color: #268bd2;
  }

  li a:hover small {
    color: inherit;
  }
}

.wrap {
  position: relative;
  width: 100%;
  @include media("screen", "<minWidth") {
    top: 5rem;
  }
}
//// Masthead - Small header above content for site name and short desc.
.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.black .masthead,
.photography .masthead {
  border-bottom: 1px solid lighten($black, 20);
}

.masthead-title {
  padding-bottom: 3rem;
  margin: 0 1rem;
  color: $color6;
  text-transform: uppercase;
  @include media("screen", "<minWidth") {
    text-align: center;
  }

  small {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0;
    @include media("screen", "<minWidth") {
      display: none;
    }
  }
}
// Container  - Center the page content.
.container {
  width: auto;
  padding-left: 0!important;
  padding-right: 0!important;
  @include media("screen", ">minWidth") {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &.content {
    margin-top: 10vh;
  }
}
// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $color1;
}

.page-title,
.post-title {
  margin-top: 0;
}
// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: $color4;
}
// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;
}

.related-posts h3 {
  margin-top: 0;
}

.related-posts li small {
  font-size: 75%;
  color: #999;
}

.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}

.related-posts li a:hover small {
  color: inherit;
}
// center stuff past tablets
.entry-wrapper {
  margin: 6rem 2rem 1rem;
  @include media("screen", ">bp1Width") {
    //max-width: 42rem;
    margin: 6rem 3rem 2rem;
  }
}




.post-list {
  list-style-type: none;
  padding-top: $space;
  li {
    min-height: $tap_min_size+10px;
  }
  a {
    color: $color6;
    display: inline-block;
    min-height: $tap_min_size;
    padding-top: $tap_padding_size;
    padding-bottom: $tap_padding_size;
  }
}

.post-date {
  display: none;
}

article.entry {
  margin: 5rem 1rem;
  text-align: right;
}
