.home {
  .wrap {
    background-size: cover;
    background-attachment: fixed;
    background: $nice-color; //Fallback for operaMini
    background: linear-gradient($base-color 20%, $nice-color);
    background-blend-mode: $blend-mode;
  }

  //// AVATAR stuff
  // check out this cool: http://codepen.io/bennettfeely/pen/csjzd
  .avatar {
    img {
      background-size: cover;
      background-color: $nice-color;

      /* make avatar gray*/
      filter: grayscale($filter-opacity);

      filter: gray; // Firefox 3.5+, Firefox mobile
    }
  }

  // and the text under the circle yellow
  .descri {
    color: $nice-color;
  }

  //// HOME HEAD stuff
  // no header border for home...
  .masthead {
    border: 0 none;
  }

  // and big letters..
  .masthead-title {
    font-weight: 600;
    line-height: 1;

    @include responsive-font(12vw, 50px, 120px, 46px);

    @include media("screen", ">minWidth") {

      @include responsive-font(8vw, 46px, 120px, 46px);
      padding-left: 8vw;
      padding-right: 8vw;
    }

    &.small {
      @include responsive-font(4vw, 20px, 40px, 20px);

      @include media("screen", ">minWidth") {

        @include responsive-font(3vw, 20px, 40px, 20px);
        padding-left: 8vw;
        padding-right: 8vw;
      }
    }
  }

  .tagline {
    font-weight: 200;
    color: black;
    text-transform: uppercase;
  }

  .posthumb {
    background-color: $nice-color;
  }

  // wraps for home
  .wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //top to bot

  // .phrase1 {}
  // .phrase2 {}
  // .phrase3 {}

  .all_works {
    height: auto;
    background-color: $nice-color;
  }

  .wrap.last {
    padding-top: 0;
    height: 100vh;
    padding-bottom: 0;

    .container.content {
      margin-top: 0;
    }

    .masthead-title a {
      line-height: 1;
    }

    .masthead-title,
    .tagline {
      margin: 0;
      padding: 0;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

      a {
        color: black;
      }
    }
  }
}

.home .underline-on-hover:hover {
  color: $nice-color!important;
}

// SIDEBAR in HOME do some more...
.home {
  #sidebar-checkbox:checked ~ .wrap {
    .pagination,
    .posts,
    img {
      display: none;
    }
  }
}
