// rok for small images...

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

	.image-grid-item img {
    margin: 0;
    max-width: 450px;
  }
}



// rok universals PACK flexboxes by addin just classes...
.pack-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;

  .item {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    -webkit-flex-grow:1;
        -ms-flex-positive:1;
            flex-grow:1;
  }
}

.pack-col {

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .item {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;

    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
  }
}
