a {
  color: $link-color;
  text-decoration: none;

  strong {
    color: inherit;
  }

  &:hover {
    border-bottom: 1px solid $color4;
  }

  .sidebar & {
    &:hover {
      border-bottom: 0 none;
    }
  }

  &.active {
    color: black;
    border-bottom: 1px solid $color2;
  }
  // :focus is linked to :hover for basic accessibility
  &:focus,
  &:hover {
  }
}

// `:visited` state is useful!
body:not(.black) div:not(.sidebar) a:visited,
body:not(.photography) div:not(.sidebar) a:visited {
  color: silver;
}

.fontsizefixed .underline-on-hover:visited {
  color: silver !important;
}

.fontsizefixed .underline-on-hover:hover {
  color: #0096ff !important;
}

.masthead_title a {
  color: $color6;
  font-weight: 300;
  line-height: $base-line-height;
  text-decoration: none;

  span,
  span small {
    transition: opacity 0.3s ease-out;
    display: block;
    line-height: 1 !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.post_link {
  &:hover {
    border: 0 none;
  }
}

.tagline a {
  &:hover {
    border-bottom: 0 none;
  }
}

a.sober {
  color: inherit;
  border-bottom-color: inherit;
}
