
//// Pagination
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

// Pagination items can be `span`s or `a`s
.pagination-item {
  display: inline;
  margin: 1rem;
  display: block;
  padding: 1rem;
}

// Only provide a hover state for linked pagination items
a.pagination-item,
a.pagination-item:visited,
span.pagination-item {
  color: black!important;
  float: left;
  width: calc(50% - 1rem);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  .onelinkonly & {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
a.pagination-item:hover{
    color: lighten(black, 100%)!important;
    border: 0 none;
}
// span.pagination-item {
//     pointer-events: none;
// }

.pagination {
  overflow: hidden; /* clearfix */
  color: #ccc;
  position: relative;
  z-index:1;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid black 3px;
  @include media("screen", ">minWidth") {
    border-bottom: 0 none;
  }
  .older{
    margin-right: 1rem;
    padding-right: 10vw;
    text-align:right;

  }
  .newer{
    margin-left: 1rem;
    padding-left: 10vw;
    text-align: left;
  }
}
