/* Stop fussin' start sassin' */
p a {
  border-bottom: 1px solid $color6;

  &:hover {
    opacity: .5;
  }
}


.pagecat {
  color: black;
  .black & {
    color: white;
  }
}

.taglineplus {
  @include media("screen", "<maxWidth") {
    display: none;
  }
}

.advertising,
.branding,
.photography,
.specials,
.web-design {
  .taglineplus {
    display: none!important;
  }
}

.specials {
  .tagline,
  .taglineshort {
    display: none;
  }
}

body:not(.specials) {
  .taglineshort {
    display: none;
  }
}

.web-design {
  .tagline,
  .taglineplus {
    display: none;
  }
}

.page {
  margin-bottom: 4em;
}

.fullpage {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

.seemore {
  padding-top: 10rem;
  padding-bottom: 4rem;
}

.wrap.index {
  .title {
    display: none;
  }

  .page-title {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

// bg color classes (used in about page!)
.bg-white {
  background-color: white;
}

//UNDO Capitalize
.nocap {
  text-transform: initial;
}

// used for entering from side block look
.pull-left {
  @include media("screen", ">bp1Width") {
    margin: 1rem calc(50vw - 8rem) 1rem -3rem;
    padding-left: 6rem!important;
  }
}

.pull-right {
  @include media("screen", ">bp1Width") {
    margin: 1rem -3rem 1rem calc(50vw - 8rem);
    padding-right: 6rem!important;
  }
}


.centertext,
.center {
  text-align: center;
}

.wrap > *:visited:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -40px;
  top: 0;
}

.category_excerpt {
  max-width: 400px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media("screen", ">minWidth") {
    min-height: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

}



.main {
  max-width: $max_width;
  margin: 0 auto;
}
