/* Stop fussin' start sassin' */
.taglineplus {
  @include media("screen", "<maxWidth") {
    display: none;
  }
}

.pagecat {
  color: black;
}

.black .pagecat {
  color: white;
}

.hidden {
  display: none;
}

.advertising,
.branding,
.photography,
.specials,
.web-design {
  .taglineplus {
    display: none!important;
  }
}

.specials {
  .tagline,
  .taglineshort {
    display: none;
  }
}

body:not(.specials) {
  .taglineshort {
    display: none;
  }
}

.web-design {
  .tagline,
  .taglineplus {
    display: none;
  }
}

p a {
  border-bottom: 1px solid $color6;

  &:hover {
    opacity: 0.5;
  }
}

.posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post-title {
  padding: 1rem 0;
  margin: 0;
  position: relative;
  top: 5rem;
}

.postshout {
  position: relative;
  //width: 100%;
  //min-width: 100px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  margin: 1rem;
  border: solid 2px black;
  padding: 1rem;
  color: black;
  background-color: $nice-color;

  .photography & {
    background-color: black;
    border-color: $trnsp-color2;
  }
}

.post_type {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  z-index: 1;
  padding: 0.5rem;
  width: calc(100% + 4px);
  // min-width: 100px;
  bottom: -40px;
  font-size: .9rem;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  left: - 2px;
  border: solid 2px black;
  white-space: nowrap;
  break-inside: avoid;
}

.post {
  -webkit-flex-basis: 420px;
  -ms-flex-preferred-size: 420px;
  flex-basis: 420px;
  height: 420px;
  //max-width: 400px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  background-color: $nice-color;
  border-bottom: 3px solid black;

  @include media("screen", ">minWidth") {
    border-bottom: 0 none;
  }

  .photography & {
    background-color: $black;
  }

  .web-design &,
  .specials &,
  .advertising &,
  .branding & {
    background-color: $body-color;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .entry-feature-image {
    //img
    max-width: 100%;
    will-change: scale;
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  &:hover {
    background-color: white;
    z-index: 10;

    .photography & {
      background-color: $black;
    }

    .post-title {
      -webkit-transition-delay: initial;
      transition-delay: initial;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      top: 0;
      z-index: 11;
      width: 100%;
      font-size: 2rem;
      background-color: white;

      .photography & {
        background-color: black;
      }
    }

    .postshout {
      margin: 1rem;
      border: solid 2px transparent;
      padding: 1rem;
      background-color: transparent;
    }

    .post_type {
      display: none;
    }

    .entry-feature-image {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      -webkit-transition-delay: initial;
      transition-delay: initial;
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transform: scale(1) translateY(-10px);
      transform: scale(1) translateY(-10px);
      @include media( "screen", ">minWidth") {
        -webkit-transform: scale(0.9) translateY(-30px);
        transform: scale(0.9) translateY(-30px);
      }
      @include media( "screen", ">bp1Width") {
        -webkit-transform: scale(0.8) translateY(-100px);
        transform: scale(0.8) translateY(-100px);
      }
      @include media( "screen", ">maxWidth") {
        -webkit-transform: scale(0.9) translateY(-45px);
        transform: scale(0.9) translateY(-45px);
      }

      &.square {
        -webkit-transition-delay: initial;
        transition-delay: initial;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: scale(1) translateY(-10px);
        transform: scale(1) translateY(-10px);
        @include media( "screen", ">minWidth") {
          -webkit-transform: scale(1) translateY(-90px);
          transform: scale(1) translateY(-90px);
        }
        @include media( "screen", ">bp1Width") {
          -webkit-transform: scale(1) translateY(-100px);
          transform: scale(1) translateY(-100px);
        }
        @include media( "screen", ">maxWidth") {
          -webkit-transform: scale(1) translateY(-75px);
          transform: scale(1) translateY(-75px);
        }
      }
    }
  }
}

.posthumb {
  //span
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;

  .black & {
    background-color: black;
  }

  .entry-feature-image {
    background-color: black;
    margin: auto;
    z-index: 0;
    opacity: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    @include media("screen", ">minWidth") {
      opacity: 0.4;
    }

  }
}

.page {
  margin-bottom: 4em;
}

.fullpage {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

.seemore {
  padding-top: 10rem;
  padding-bottom: 4rem;
}

.wrap.index {
  .title {
    display: none;
  }

  .page-title {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    //opacity: 0.5;
  }
}
// bg color classes (used in about page!)

.bg-white {
  background-color: white;
}
//UNDO Capitalize

.nocap {
  text-transform: initial;
}
// used for entering from side block look

.pull-left {
  @include media("screen", ">bp1Width") {
    margin: 1rem calc(50vw - 8rem) 1rem -3rem;
    padding-left: 6rem!important;
  }
}

.pull-right {
  @include media("screen", ">bp1Width") {
    margin: 1rem -3rem 1rem calc(50vw - 8rem);
    padding-right: 6rem!important;
  }
}
// overrides style for specific sections

.black,
.photography {
  color: $trnsp-color2;
  background-color: black;

  .post {
    border-bottom: 8px solid $darkest-color;
    @include media("screen", ">minWidth") {
      border-bottom: 0 none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $bang-color!important;
  }

  .pagecat,
  a {
    color: $trnsp-color2;

    &.active {
      color: $color5;
    }
  }

  .post-list a:visited {
    color: silver!important;
  }

  .postshout {
    color: darken($white, 20);
    font-weight: 400;
  }

  .tagline {
    display: none;
  }

  .taglineshort {
    display: inline!important;
  }

  .masthead-title .title {
    color: rgba(0, 150, 255, 0.75);

    &:hover {
      color: #0096ff;
    }
  }

  .start {
    position: relative;
    color: rgb(77, 77, 77);
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    position: absolute;
    width: 20vw;
    left: 40vw;

    a {
      padding-top: 80px;

      span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid rgb(77, 77, 77);
        border-bottom: 1px solid rgb(77, 77, 77);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: strt 2s infinite;
        opacity: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &:nth-of-type(1) {
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
        }

        &:nth-of-type(2) {
          top: 16px;
          -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
        }

        &:nth-of-type(3) {
          top: 32px;
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
        }
      }
    }
  }
  @-webkit-keyframes strt {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  @keyframes strt {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

body.black {
  background-color: #000!important;
}

body.gray1 {
  background-color: #E5E4E2!important;
}

body.gray2 {
  background-color: #EFEFED!important;
}

.centertext {
  text-align: center;
}

.wrap > *:visited:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -40px;
  top: 0;
}
//images

.web-design .entry-visuals {
  position: relative;
  margin-bottom: 5vh;
  @include media("screen", ">minWidth") {
    margin-bottom: 34vh;
  }
  @include media("screen", ">bp1Width") {
    margin-bottom: 33vh;
  }
  @include media("screen", ">maxWidth") {
    margin-bottom: 5vh;
  }
}

.web-design .entry-feature-image {
  position: relative;
  top: 0;
  left: 0;

  &.a {
    //dtp
    top: 0;
    left: -17%;
    max-width: 180%;
    @include media("screen", ">minWidth") {
      max-width: 150%;
      left: -10%;
    }
    @include media("screen", ">bp1Width") {
      max-width: 130%;
      left: 0;
    }
    @include media("screen", ">maxWidth") {
      max-width: 100%;
    }
  }

  &.b {
    //ipad
    max-width: 40vw;
    @include media("screen", ">minWidth") {
      max-width: 46vw;
      position: absolute;
      left: auto;
      right: 10vw;
      top: auto;
      bottom: -28vh;
    }
    @include media("screen", ">maxWidth") {
      left: 60vw;
      right: auto;
      bottom: 5vh;
    }
  }

  &.c {
    //nexus6
    max-width: 30vw;
    @include media("screen", ">minWidth") {
      position: absolute;
      left: 20vw;
      top: auto;
      bottom: -30vh;
    }
    @include media("screen", ">bp1Width") {
      left: 44vw;
      top: auto;
      bottom: -25vh;
    }
    @include media("screen", ">maxWidth") {
      left: 78vw;
      top: auto;
      bottom: 0;
    }
  }

  &.d {
    //crappydroid
    max-width: 24vw;
    @include media("screen", ">minWidth") {
      position: absolute;
      left: 3vw;
      top: auto;
      bottom: -15vh;
    }
    @include media("screen", ">bp1Width") {
      left: 29vw;
      top: auto;
    }
    @include media("screen", ">maxWidth") {
      left: 51vw;
      bottom: 0;
    }
  }
}
//indexes

.index_only {
  display: none;

  .index & {
    display: block;
  }
}

.category_excerpt {
  max-width: 400px;
  margin: 10rem auto;
}


.posthumb.image_icons .entry-feature-image {
  background: transparent;
}
