.hidden {
  display: none;
}

.show_on_phones {
  display: initial;
  @include media('screen', '>minWidth') {
    display: none !important;
  }
}

.hide_on_phones {
  display: none;
  @include media('screen', '>minWidth') {
    display: inline;
  }
}

.uppercase {
  text-transform: uppercase;
}
