//temporary colors
$color1: #303030;
$color2: #e5e5e5;
$color3: #f9f9f9;
$color4: #9a9a9a;
$color5: #f5f5f5;
$color6: #505050;
$color6: #202020;
$brightest-color: #fff;
$darkest-color: #161616;
$bang-color: #fff;

$trnsp-color1: rgba(255,255,255,.1);
$trnsp-color2: rgba(255,255,255,.6);


// COLORS =====================================================
$body-color         : #fff;
$text-color         : #222;
$base-color         : #343434;
$comp-color         : spin($base-color, 180);
$border-color       : #ddd;
$white              : #fff;
$black              : #000;


$accent-color       : $bang-color;
$link-color         : #0096FF; //rgba(0, 150, 255, 0.75); lanyon//303030;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);


// TYPOGRAPHY ================================================
$base-font: 'Dosis', sans-serif;
$base-font-size: 16px;
$base-font-size-rel: 2.75vw;
$base-line-height: 1.5;


// MIX ========================================================
$border-radius: 5px;



  // linear-gradient($color1 100vh, transparent)
  // url(/images/o-1680x943.jpg);

//// HOME WRAP shit
// @2do fix this mess maybe with suble gold toned images or gold tone filter if can...

// convenient to have more variables for avatar
$nice-color : gold;
//// BACKGROUND BLEND MODE stuff
// https://developer.mozilla.org/en-US/docs/Web/CSS/background-blend-mode

// background-blend-mode: normal;               /* One value */
// background-blend-mode: darken, luminosity;   /* Two values, one per background */

// background-blend-mode: multiply|screen|overlay|darken|lighten|color-dodge|color-burn|hard-light|soft-light|difference|exclusion|hue|saturation|color|luminosity|(And also normal which reset it.?!)
$blend-mode : screen;
// colors
$colorRGBa1: rgba(255, 255, 255, .25); //@2do make stripes same color
//$colorRGBa1: rgba(0, 223, 118, .35); //#00DF76; green (this pretty cool!)
// rgba(211,255,5,.5); //#D3FF05; yellow?
// rgba(0,223,118,.5); //#00DF76; green
// rgba(11,127,255,.5); //#0B7FFF; blue
