---
layout: page
title: photography
headline: Works worth mentioning
categories: photography
isindex: index
excerpt: "Visual Communication at his roots. Wanna hit big and deep into emotions? You need pictures!"
search_omit: true
image:
  feature:
catch: as seen by
---

<div class="wrap {{ page.isindex }}">
  <div class="container content">

    <div class="posts">
      {% for post in site.categories.photography %}

        {% include item-ball.html %}

      {% endfor %}

    </div>

  </div>
</div> 
