<div class="post">

  <a class="post_link" href="{{ post.url }}">

    <div class="postshout">
      <h2 class="post-title"></h2>
      <div class="post_type"></div>{{ post.headline }}
      {% if page.layout == 'home' %}
      <div class="post_type">{{ post.categories }}</div>
      {% endif %}
    </div>



    <div class="posthumb image_{{ post.title }}">

      {% capture photo %}{{ post.image.[0] }}{% endcapture %}

      {% include blocks/post_content_image.html %}

    </div>
  </a>

</div>