<div class="entry-wrapper">
  
  <header class="entry-header">
    <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}</h1>{% endif %}
  </header>

  <div class="entry-content">
    {{ content }}
  </div>

  {% if page.quote %}
  <div class="entry-quotes">
    <h2>
      <blockquote cite="http://">
        {{ page.quote }}
        <cite>{{ page.quotecite }}</cite>
      </blockquote>
    </h2>

    <h2>
    {% if page.quote_02 %}
      <blockquote cite="http://">
        {{ page.quote_02 }}
        <cite>{{ page.quotecite_02 }}</cite>
      </blockquote>
    {% endif %}
    </h2>
  </div>
  {% endif %}

</div>
