---
sitemap: false
---
//temporary colors
$color1: #303030;
$color2: #e5e5e5;
$color3: #f9f9f9;
$color4: #9a9a9a;
$color5: #f5f5f5;
$color6: #505050;
$color6: #202020;
$brightest-color: #fff;
$darkest-color: #161616;
$bang-color: $brightest-color;

$trnsp-color1: rgba(255,255,255,.1);
$trnsp-color2: rgba(255,255,255,.6);


// COLORS =====================================================
$body-color         : #fff;
$text-color         : #222;
$base-color         : #343434;
$comp-color         : spin($base-color, 180);
$border-color       : #ddd;
$white              : #fff;
$black              : #000;


$accent-color       : $bang-color;
$link-color         : #0096FF; //rgba(0, 150, 255, 0.75); lanyon//303030;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);


// TYPOGRAPHY ================================================
$base-font: 'Dosis', sans-serif;
$base-font-size: 20px;
$base-font-size-rel: 2.75vw;
$base-line-height: 1.5;

$filter-opacity: 90%;



//// BACKGROUND BLEND MODE stuff
// https://developer.mozilla.org/en-US/docs/Web/CSS/background-blend-mode

// background-blend-mode: normal;               /* One value */
// background-blend-mode: darken, luminosity;   /* Two values, one per background */

// background-blend-mode: multiply|screen|overlay|darken|lighten|color-dodge|color-burn|hard-light|soft-light|difference|exclusion|hue|saturation|color|luminosity|(And also normal which reset it.?!)
$blend-mode : normal;//screen;

$colorRGBa1: rgba(255, 255, 255, .5);

// $colorRGBa1: rgba(0, 223, 118, .35);
// rgba(211,255,5,.5); //#D3FF05; yellow
// rgba(0,223,118,.5); //#00DF76; green
// rgba(11,127,255,.5); //#0B7FFF; blue


$border-radius: 5px;
$nice-color : gold;
$base-color : $colorRGBa1;
$htmlbg-color : black;


$mediaMinWidth: 480px;
$mediaBp1Width: 960px;
$mediaMaxWidth: 1260px;

// $ettings

@import "cmq";
// font need go: svg instead!inline or imported w/ liquid tag
@import "vendor/font-awesome/font-awesome";
@import "responsive_titles";
@import "base";// html + lanyon (really?)
@import "pagination";// used just in Home
// now with fa-icon: delete w+h and let flex center'em
@import "sidebar";
@import "social-icons";
// overrides
@import "rok";
@import "svg";
@import "home";
@import "about";
@import "image-grid";// flex classes
