---
layout: default
---

	<div class="bgimage">

		<picture>
			<source srcset="/assets/images/about/01.avif" type="image/avif">
			<img src="/assets/images/about/01.jpg" alt="{{ title }} photo by Rokma">
		</picture>

  </div>

	<div class="page">

		<h1
		class="page-title {{ page.title }}"
		data-sr='enter top ease-out move 400px no reset'
		>{{ page.title }} {{ site.title }}</h1>

		{% for testimonial in site.data.testimonials %}
			<div class="page-block quote left_triangle  ">
				{{ testimonial.quote }}
				<p class="cite">{{ testimonial.name }}, <br class="show_on_phones">Founder of <a class="sober" href="https://{{ testimonial.url }}">{{ testimonial.brand }}</a></p>
			</div>
		{% endfor %}

		<div class="page-block clients right_triangle blue_text">

			<h2 class="h3 title blue_text">Clients</h2>

			{% for work in site.data.clients %}
				{{work.name}},
			{% endfor %}

		</div>

		<div class="page-block clients left_triangle blue_text">

			<h2 class="h3 title blue_text">Editorial Clients</h2>

			{% for work in site.data.editorial_clients %}
			  {{work.name}},
			{% endfor %}

		</div>


		<div class="last">
			<div class="social-block">
				<h2 class="h3 title">Get&nbsp;in&nbsp;touch!</h2>
				{%comment%} form here {%endcomment%}
				{% include blocks/contact.html %}
			</div>
		</div>

	</div>
