---
layout: default
---

<div id="main" role="main">

  {% include grid-small-images.html %}

  <div class="entry-wrapper seemore">
    <h3 class="post-list-title center nocap">See more advertising works from Rokma</h3>
    <ul class="post-list">
      {% for post in site.categories.advertising %}
        <li><article><a href="{{ site.baseurl }}{{ post.url }}">{{ post.headline }} <small class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time></small></a></article></li>
      {% endfor %}
    </ul>
  </div>

</div>
