---
layout: default
---
<div id="main" role="main" class="{% if page.grid_small_images %}grid-small-images{% else %}grid_big_images{% endif %} bra-new_layout">

  <article class="entry">

    {% include blocks/responsive_images.html %}

    {% include  blocks/entry_text.html %}

  </article>

  <div class="entry-wrapper seemore">
    <h3 class="post-list-title center nocap">See more branding works from Rokma</h3>
    <ul class="post-list">
      {% for post in site.categories.branding %}
        {% unless post.publish contains "notyet" %}

          <li><article><a class="{% if page.url contains post.url %}active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.headline }} <small class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time></small></a></article></li>

        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>
