---
layout: default
---
<div class="page">
	<h1 class="page-title {{ page.title }}">{{ page.headline }}</h1>
	<div class="wrap {{ page.isindex }}">
	  <div class="container content">

	    <div class="posts">

	      {% for post in site.categories[page.categories] %}

	        {% capture title %}{{ post.title }}{% endcapture %}

					{% include item-ball.html %}

	      {% endfor %}
	    </div>
	  </div>

		<h3 class="category_excerpt">
			<blockquote>
				{{ page.excerpt }}
			</blockquote>
		</h3>

	</div>
</div>
