<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="{{ page.categories }} {{ page.backgroundColor }} {{ page.title | downcase }} layout-reverse {% if bodyclass %}{{ page.bodyclass }}{% endif %} ">

    {% include sidebar.html %}

    <div class="wrap {{ page.isindex }}">

      <div class="container masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">

            {% if page.categories == "photography" %}
              <span class="pagecat">{{page.categories}}</span>
              <span class="title">{{page.headline}}</span>
              <span class="powered">{{page.catch}} {{site.title}}</span>
            {% else %}
              <span class="owner">{{ site.title }}</span>
              <span class="pagecat">{{ page.categories }}</span>
              <span class="taglineshort"> <small>{{ site.tagline_short }}</small></span>
              <span class="tagline"> <small>{{ site.tagline }}</small></span>
              <span class="taglineplus"><small>{{ site.tagline_plus }}</small></span>
            {% endif %}

          </a>
        </h3>
      </div>

      <div class="container content">
        {{ content }}
      </div>

    </div>

    {%comment%} Toggle Button if not home  {% endcomment %}
    <div class="sidebar-toggle-button">
      <label for="sidebar-checkbox" class="sidebar-toggle"><span class="fa fa-bars"></span></label>
    </div>

    {% include scripts.html %}
    {% include script_ext_link.html %}
    {% include script_google_analytics.html %}
  </body>
</html>
