<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="home layout-reverse sidebar-underlay {{ page.bg }}">

    {% include sidebar.html %}

    {{ content }}

    {%comment%} Toggle Button if home {% endcomment %}
		<div class="sidebar-toggle-button">
		  <label for="sidebar-checkbox" class="sidebar-toggle"><span class="fa fa-bars"></span></label>
		</div>

    {% include scripts.html %}
    {% include script_ext_link.html %}
    {% include script_google_analytics.html %}
  </body>
</html>
