---
layout: default
---
<div class="image-wrap">
{% if page.image.feature %}
	<img src="{{ site.baseurl }}/images/{{ page.categories }}/{{ page.title }}/{{ page.image.feature }}" class="entry-feature-image a" alt="{{ page.title }}" >
{% endif %}
</div>


<div class="page">
	<h1 class="page-title {{ page.title }}">{{ page.headline }}</h1>
	<div class="wrap {{ page.isindex }}">
	  <div class="container content">
	    <div class="posts">
	      {% for post in site.categories[page.categories] %}

	        {% include item-ball.html %}

	      {% endfor %}
	    </div>
	  </div>
	</div>
</div>
