---
layout: default
---
{%comment%}
3 animated arrows pointing down
{%endcomment%}
<div class="start">
	<a href="">
    <span></span>
    <span></span>
    <span></span></a>
</div>


<div id="main" role="main" class="main filed_in_{{ page.categories }}">
  <article class="entry">

		{% capture title %}{{ page.title }}{% endcapture %}

    {% for photo in page.image %}

			{% include blocks/post_content_image.html %}

    {% endfor %}

    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}</h1>{% endif %}
      </header>
      <div class="entry-content">
        {{ content }}
      </div>

			{% if page.fineartprints_link %}
			<div class="fineartprints_button_box">
				<h3>Fine art prints</h3><button class="button  button_pad" id="fineartprints"><a href="https://fumes.junglestar.org/{{page.fumes_category}}/{{page.title}}/#fineartprints">Order here!</a></button>
			</div>
			{% endif %}

    </div>
  </article>

  <div class="entry-wrapper seemore">
    <h3 class="post-list-title center nocap">See more {{ page.categories }} works from Rokma</h3>
    <ul class="post-list">
    {% for post in site.categories.photography %}
			{% unless post.publish contains "notyet" %}

	      <li><a class="{% if page.url contains post.url %}active{% endif %}" href="{{ site.baseurl }}{{ post.url }}">{{ post.headline }}</a></li>

	    {% endunless %}
		{% endfor %}
    </ul>
  </div>
</div>
