---
layout: default
categories: photography
---

<div class="start">
	<a href="#">
    <span></span>
    <span></span>
    <span></span></a>
</div>


<div id="main" role="main">
  <article class="entry">

    {% for thumb in page.image %}
      <img data-sr='' src="{{ site.baseurl }}/images/{{ page.categories }}/{{ page.title }}/{{thumb}}" class="entry-feature-image" alt="{{ page.title }}"/>
    {% endfor %}

    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}</h1>{% endif %}
      </header>
      <div class="entry-content">
        {{ content }}
      </div>
    </div>
  </article>

  <div class="entry-wrapper seemore">
    <h3 class="post-list-title center nocap">See more {{ page.categories }} works from Rokma</h3>
    <ul class="post-list">
    {% for post in site.categories.photography %}
      <li><article><a href="{{ site.baseurl }}{{ post.url }}">{{ post.headline }}</a></article></li>
    {% endfor %}
    </ul>
  </div>
</div>
