---
layout: default
---
<div id="main" role="main">

  {% include grid.html %}

  <div class="entry-wrapper seemore" data-sr=''>
    <h4 class="post-list-title center nocap">Browse specials from Rokma</h4>
	  <ul class="post-list">
	    {% for post in site.categories.specials %}
      <li><article><a href="{{ site.baseurl }}{{ post.url }}">{{ post.headline }} <small class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y" }}</time></small></a></article></li>
	    {% endfor %}
	  </ul>
	</div>
</div>
